<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verification</title>
</head>

<body style="text-align: center; display: flex; justify-content: center;">
    <div>
        <form action="/analyze/" method="get">
            <h1>Email verification</h1>
            <h4>Enter the first name, last name and email ( , or ; seperated)</h4>
            <textarea id="text" name="text" style="width: 500px; height: 70px;"></textarea>
            <br>
            <button style="margin-top: 10px;" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>